 
      * {
        margin: 0;
        padding: 0;
      }


      body {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        margin-top: 100px;
        background-color: gray;
       
      }

      section {
        padding: 30px;
        box-shadow: 2px 2px 10px black;
        transform: rotate(10deg);
        background-color: white;
        height: 500px;
        

        
        
      }

      section header h1 {
        margin-bottom: 15px;
        color: orange;
        font-size: 20px;
      }

      section figcaption {
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-between;
      }

      section figcaption * {
        font-weight: normal;
        color: orange;
        
        
      }
      img{
        height:400px;
      }
